@charset "UTF-8";
/* CSS Document */

body {
	background-color:#FFF;
	font-family : "trebuchet ms", Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 12px;
	color:#333;
	margin-top:0;
	min-width:800px;
}
h1 {/*Стиль для вывода заголовка*/
	/*border:1px #000 solid;*/
	border-radius:8px;
	margin-top:  10px;
	margin-bottom:5px;
	/*background-color : #eee;*/
	line-height: 30px;
	font-size :  22px;
	color : #777;
	text-align : center;
}
h2 {/*Стиль для вывода названия каталога*/
	/*border:1px #000 solid;*/
	margin-top:5px;
	margin-bottom:5px;
	font-size : 18px;
	color : #555;
	text-align : left;
}
h3 {/*Стиль для вывода названия каталога*/
	/*border:1px #000 solid;*/
	margin-bottom:3px;
	/*background-color : #fff;*/
	font-size : 14px;
	color : #333;
	text-align : left;
}
h4 {/*Стиль для вывода названия каталога*/
	/*border:1px #000 solid;*/
	margin-top:0px;
	margin-bottom:3px;
	/*background-color : #fff;*/
	font-size : 16px;
	color : #555;
	text-align : left;
}
span.title{
	font-size : 14px;
	color : #333;
	text-align : left;
}
p{
	/*width:500px;*/
	line-height:14px;
	text-align:left;
	padding:3px;
	margin:0;
	/*border:1px #AAA solid;*/
}
label{
	float:left;
	line-height:20px;
	/*display: table;*/
	text-align: left;
    width: 120px;	
	vertical-align:top;
	/*text-align:top;*/
	/*border:1px #AAA solid;*/
}
legend{
	/*border:1px #AAA solid;*/
	margin:5px 0;
	/*line-height:30px;*/
	font-size : 16px;
	font-weight: bold;
	color : #555;
}
.font12 {
	font-size : 12px;
}
.borderL {
	border-left:1px #AAAAAA solid;
}
.borderB {
	border-bottom:1px #AAAAAA solid;
}
div.frame0 {/*Контейнер*/
	width : 100%;
	height : auto;
	/*margin-top:10px;*/
}
div.frameL {/*Контейнер*/
	float:left;
	/*width : 25%;
	height : 100%;*/
}
div.frameR {/*Контейнер*/
	float:left;
	/*width : 75%;
	height : 100%;*/
}
div.frame4 {/*Контейнер*/
	/*width : 100%;
	height : 50%;*/
	width:auto;
	height:auto;
}
div.frame1 {/*Контейнер*/
	/*display: inline-block;*/
	overflow-y:auto;
	vertical-align:top;
}
div.frame {/*Контейнер*/
	display: inline-block;
	overflow-y:auto;
	width : 100%;
	min-width : 200px;
	height : 500px;
	/*width : 300px;
	/*
	padding-left: 10px;
	margin : auto;
	display: table-cell;
	margin-top:0px;
	margin-right:5px;
	border:1px #708090 solid;
	*/
}

input{
	border:1px #AAA solid;
}
input:disabled{
	border:1px #AAA solid;
}
input:focus{
	border:1px #AAA solid;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin-left: 0px;
	margin-right: 0px;
}/*
.input_param{
	font-size:12px;
	color:#666;
    width: 98%;
	border:1px #333 solid;
	text-align:right;
	background:#FFF;
}
.input_tbl{
	font-size:12px;
    width: 99%;
	border:none;
	text-align:right;
	background:#FFF;
	line-height:12px;
	height:14px;
}
.input_tbl:disabled{
	font-size:12px;
    width: 99%;
	border:none;
	text-align:right;
	background:#EEE;
	line-height:12px;
	height:14px;
	color:#000;
}
*/
.TAL{		text-align:left;}
.TAR{		text-align:right;}
.TAC{		text-align:center;}
.pl10{		padding-left:10px;}
.pr10{		padding-right:10px;}
.pt5{		padding-top:5px;}
.p5{		padding:5px;}
.mt10{		margin-top:10px;}
.mt5{		margin-top:5px;}
.mt0{		margin-top:0px;}
.ml5{		margin-left:5px;}
.ml10{		margin-left:10px;}
.mr5{		margin-right:5px;}
.border1{	border:1px #AAAAAA solid;}
.w1024{		width:1110px;}
.w500{		width:500px;}
.w400{		width:500px;}
.w350{		width:350px;}
.w300{		width:300px;}
.w250{		width:250px;}
.w200{		width:200px;}
.w180{		width:180px;}
.w150{		width:150px;}
.w120{		width:120px;}
.w100{		width:100px;}
.w80{		width:80px;}
